#overlay
{
    position: inherit;
    height: 100%;
    width: 100%; 
    background-color: #00ff66;
    opacity: 0.4;
}

.main
{
    position: absolute;
    top: 25%;
    left: 30%;
    margin-left: -70px;
    border-radius: 15px;
    border: 3px solid gray;
    padding: 0;
    border: 1px dashed silver;
    background-color: #999966;
}
#dv_no_move
{
    padding: 5px 4px 5px 5px;
    height: 90%;
    width: 100%;
    
}
.popup_body{
    font-size: 20px;
    font-family: sans-serif; 

	}

.close
{
    float: right;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 7px;
    
}
.close:hover
{
    margin-top: 5px;
}
.title
{
    cursor: move;
    width: 100%;
    height: 25px;
    font-size: 14px;
    font-weight:bolder;
    border-radius:15px;
    color: #fff;
    background-color: #663333;
}
#title_left
{
    padding: 4px 0 3px 5px;
    float: left;
    cursor: default;
}

#dv_load
{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin: 0 auto;
}