/* css docuement by Templatesperfect.com */

body {
    padding: 10px;
    margin: 0; 
    font-size: 12px; 
    font-family: tahoma, sans-serif; 
    letter-spacing: 1px; 
    line-height: 160%; 
    background:#000000;
    color: #454545; }

#container { 
    width: 920px; 
    padding: 10px;
    background: #fff; 
    margin:0 auto; 
    border:1px solid #CCCCCC;
}
#header { height: 60px; 
}
input, form { margin:0; padding:0; }
#wrapper {
    width: 920px;
    background: #ffffff;

}
#default_wrapper {
    width: 920px;
	height: 594px;
    background: #ffffff;

}
#create_space{
    width: 920px;
	height: 311px;
    background: #ffffff;
}
#verify_space{
    width: 920px;
	height: 500px;
    background: #ffffff;
}
#emp_login_span{
	width: 920px;
	height: 375px;
    background: #ffffff;
}
#js_home{
   width: 620px;
    background : #c0c0c0;
    border:1px solid #ecebec; border-width:0 1px; padding:0 10px;
    border-color:blue; padding:0 5px;
    border-radius: 15px;
   
}
#js{
    width: 620px; 
    
}


#uginstituteId{
    width: 400px;
}
#js_bar{
    width: 210px;
    padding-left: 625px;
    padding-top: 100px;
    z-index: 3;
}
#js_home_perf{
    border-radius: 15px;
    border:1px solid #ecebec; border-width:0 1px; padding:0 10px;
    border-color:blue; padding:0 5px;
    width: 200px;
    background:#c0c0c0;
}
#js_home_recom{
    border-radius: 15px;
    border:1px solid #ecebec; border-width:0 1px; padding:0 10px;
    border-color:blue; padding:0 5px;
    width: 200px;
    background:#c0c0c0;
}
#js_home_setting{
    border-radius: 15px;
    border:1px solid #ecebec; border-width:0 1px; padding:0 10px;
    border-color:blue; padding:0 5px;
    width: 200px;
    background:#c0c0c0;
}
#left {
    float: left;
    width: 220px;
    margin:5px 0 10px 0;
    padding:5px;
    background:#999933;
    color:#FFFFFF;
    text-align:justify;

}

#content_login {
    float: left;
    width: 660px;
    margin:5px 0 10px 20px;
    padding:5px;
    text-align:justify;

}

#content_login h3{
    font-size: 14px;
    color:#006666;
    display:inline;
}

#content_login img {
    float: right;
    width:180px;
    height:120px;
    margin:8px;
    border:2px solid #cccccc;
}

#content_login a:link, #content_login a:active, #content_login a:visited { color:blue;text-decoration: none; }

#content_login a:hover { color: brown; }

#content_login1 a:link, #content_login1 a:active, #content_login1 a:visited { color:blue;text-decoration: none; }

#content_login1 a:hover { color: brown; }

#js_home a:link{color: blue} #js_home a:active, #js_home a:visited { color:blue;text-decoration: none; }

#js_home a:hover { color: red; }

#other_home a:link{color: blue} #other_home a:active, #other_home a:visited { color:blue;text-decoration: none; }

#other_home a:hover { color: red; }

#emp_link a:link{color: blue} #emp_link a:active, #emp_link a:visited { color:blue;text-decoration: none; }

#emp_link a:hover { color: red; }


#veiw_link a:link, #veiw_link a:active, #veiw_link a:visited { color:blueviolet;text-decoration: none; background: border-box }

#veiw_link a:hover { color: green; }

#search a:link, #search a:active, #search a:visited { color:blueviolet;text-decoration: none; background: windowframe }

#search a:hover { color: green; }


#fields td{
		padding-left:30px;
}

#content {
    width: 920px;
    margin:5px 0 10px 20px;
    padding:5px;
    text-align:justify;

}

#content h3{
    font-size: 14px;
    color:#006666;
    display:inline;
}

#content img {
    float: right;
    width:180px;
    height:120px;
    margin:8px;
    border:2px solid #cccccc;
}
.td_field_lable
{
    padding-left: 20px;
}
.td_field_lable1{
    padding-left: 170px;
}


.clear{clear:both; height:0px;}
h3{
    font-size: 17px;
    color:#FFFFFF;
    display:inline;
}
p, ol, ul {
    line-height: 20px;
}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

ul li { width:220px;
        padding: 2px 0 5px 0;
        border-bottom:1px dotted #444444;;
}


ul li.first {
    background: none;
}
#content hr{
    padding-left: 0px;
}

#left img {
    float: left;
    width:120px;
    height:80px;
    margin:8px;
    border:2px solid #cccccc;
}
#logo 
{	width: 350px;
  height:45px;
  padding:10px 0 0 10px;

/*  background:url(../images/logo.png) left bottom no-repeat; */
}
#search { 
    float: right; 
    text-align: right; 
    width: 500px; 
}
#search_menu{
		padding-left: 630px;	
	}

#in-header {
    background:#505050 url("../images/header.jpg") top right no-repeat;
    height: 202px;
}

#footer { 
    border-top:#999999 1px dashed;
    background-color:#505050;
    height:30px;
}
h1 { 
    margin: 0; 
    padding: 15px 30px 0 10px;
    font-weight: normal;
    font-size: 35px;
}
#in-header h2 { 
    color: #333333; 
    margin:0; 
    padding-left: 25px;
    padding-top: 65px;
    line-height: 17px;}

#footer p 
{	
    color: #cccccc; 
    font-size: 11px; 
    text-align:center;
    
}
input {
    border: 1px solid #c0c0c0; 
    color: #454545; 
    font-size: 11px;
    letter-spacing: 1px;
}
input.searchText 
{ width: 150px; 
  height: 18px;
  padding-top:2px; 
  border:navy 1px solid; 
}
input.searchSubmit
{ color: #0080c0;
  background: #fff;
  border: 1px solid #fff;	
  font-size: 12px; 
  width: 50px; 
  height: 19px; 
}

#navbar {
    background: #5b3333;
    height: 34px;
    clear:both;

}

#navbar ul { 
    list-style : none; 

}
#navbar li 
{ 
    padding-top: 3px; 
    padding-bottom: 4px;
    margin:3px;
    width:150px;
    float: left; 
    font-weight:bold;
    text-align:center;

}
#navbar li.active 
{ background: #ff7700; 
  color: #fff;
  padding-bottom: 4px;
}

#navbar li:hover
{ background: #ff7700; 
}

a:link, a:active, a:visited { color:#222222;text-decoration: none; }

a:hover { color: #ffffff; }

#navbar a:link, #navbar a:active, #navbar a:visited { color: #ffffff; } 
#navbar a:hover{color: #ffffff; text-decoration:none;}

#search_menu a:link, #search_menu a:active, #search_menu a:visited { color: #ffffff; } 
#search_menu a:hover{color: #ffffff; text-decoration:none;}


#navbar_login {
    background: #5b3333;
    height: 34px;
    clear:both;

}

#navbar_login ul { 
    list-style : none; 

}
#navbar_login li 
{ 
    padding-top: 3px; 
    padding-bottom: 4px;
    margin:3px;
    width:150px;
    float: right; 
    font-weight:bold;
    text-align:center;

}
#navbar_login li.active 
{ background: #ff7700; 
  color: #fff;
  padding-bottom: 4px;
}
#navbar_login li:hover
{ background: #ff7700; 
}
a:link, a:active, a:visited { color:#222222;text-decoration: none; }
a:hover { color: #ffffff; }
#navbar_login a:link, #navbar_login a:active, #navbar_login a:visited { color: #ffffff; } 
#navbar_login a:hover{color: #ffffff; text-decoration:none;}

.tblborder 
{
    border-width: 1px;
    border-style: solid;
    border-color:  #5b3333;
}

/* css docuement by Templatesperfect.com */